{% if post.layout != post %}
  {% assign words = post.content | strip_html | number_of_words %}
  {% if words < 180 %}
    время чтения менее минуты
  {% elsif words < 360 %}
    время чтения 1 минута
  {% else %}
    {{ words | divided_by:180 }} минут/ы чтения
  {% endif %}
{% endif %}

{% if post.layout == post %}
  {% assign words = content | number_of_words %}
  {% if words < 180 %}
    время чтения менее минуты
  {% elsif words < 360 %}
    время чтения 1 минута
  {% else %}
    {{ words | divided_by:180 }} минут/ы чтения
  {% endif %}
{% endif %}
